<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">
	
	<!-- dao级别                                                           start  -->
	<bean id="baseDao" class="com.travelsky.dao.impl.BaseDaoImpl" autowire="byName">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>
	</bean>
	
	
	<bean id="flightInfoDao" class="com.travelsky.dao.impl.FlightInfoDaoImpl" autowire="byName">
	<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>
	</bean>
	
	<bean id="fareInfoDao" class="com.travelsky.dao.impl.FareInfoDaoImpl" autowire="byName">
	<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>
	</bean>
	
	<bean id="configDao" class="com.travelsky.dao.impl.ConfigDaoImpl" autowire="byName">
	<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>
	</bean>
	
	
	
	<bean id="agentServerDao" class="com.travelsky.dao.impl.AgentServerDaoImpl" autowire="byName">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>
	</bean>
	
	<bean id="fareFlightDao" class="com.travelsky.dao.impl.FareFlightDaoImpl" autowire="byName">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>
	</bean>
	
	
	<bean id="msiLogDao" class="com.travelsky.dao.impl.MsiLogDaoImpl" autowire="byName">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>
	</bean>
	
	<!-- dao级别                                                           end  -->
</beans>